
/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Work Sans", system-ui;
  font-optical-sizing: auto;
}
.btn-primary{
  border-radius: 5px;
  background: #FF900E;
  font-size: 1.5rem;
  color: #e4dddd;
  padding: 20px 25px;
  /* margin: 20px; */
  cursor: pointer;
  border: 0;
}
.text-light-gray{
  color: rgb(78, 76, 76);
}
/* header styles */

header{
  background-color: antiquewhite;
 padding: 50px 240px;
}
.nav-title{
  font-size: 2.8rem;
  font-weight: 700;
  color: black;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav>ul{
  display: flex;

}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
  text-decoration: none;
  color: #424242;
}

/* banner styles */
.banner-content{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
 
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
  color: rgb(97, 37, 37);
}

.banner img{
  width: 100%;
  margin-top: 20px;
}


/* main section styles */

main{
  max-width: 1440px;
  margin: 70px auto;
}

/* teams style */

.teams-container{
  display: flex;
  align-items: center;
  /* margin-top: 10px; */
}

.teams-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:1.5rem;
}
.teams-content{
  padding-left: 70px;
  padding-right: 70px;
}

.teams-title{
  font-size: 2.8rem;
}
.teams-title .quick{
  font-weight: 700;
  color: #4b4141a2;
}

.teams-title .of{
  font-weight: 800;
  color: #000;
}

.teams-title .team-features{
  font-weight: 900;
  color: #FF900E;
}

/* small devices */
@media screen and (max-width:576px) {
  header{
    padding: 20px;
  }
  nav
  ,.teams-container{
  flex-direction: column;
  }
  .teams-img-container{
    grid-template-columns: 1fr;
  }
  .teams-content{
    padding-left: 20px;
    padding-right: 20px;
  }
  
}

/* tablet or medium devices */

@media screen and (min-width:576px) and (max-width:960px){
  nav,.teams-container{
    flex-direction: column;
  }
  header{
    padding: 50px;
  }
}